<div class="footer">
  <div class="to-the-top">
    <img src="{{ 'to-the-top.svg' | asset_url }}" alt="">
    <h6 class="font-din">to the top</h6>
  </div>
  <div class="subscription">
    <div class="subscription-input">
      <form action="//nyc.us14.list-manage.com/subscribe/post?u=466b6decc5d325581609cc930&amp;id=90aba86cbc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <input type="email" name="EMAIL" placeholder="Email Address" class="font-din" />
        <button class="sign-up font-din">SIGN UP</button>
      </form>
    </div>
    <h6>Sign up to be the first to learn about new product introductions, restocks and events.</h6>
  </div>
  <div class="follow-us">
    <h6 class="font-din">follow us</h6>
    <div class="follow-us-img">
      <img src="{{ 'fb.png' | asset_url }}" alt="">
      <img src="{{ 'insta.png' | asset_url }}" alt="">
      <img src="{{ 'pin.png' | asset_url }}" alt="">
      <img src="{{ 'twitter.png' | asset_url }}" alt="">
    </div>
  </div>
  <div class="bottom">
    <ul class="b-left">
      <li><img src="{{ 'logoimg.svg' | asset_url }}" alt="">GM</li>
      <li>Contact</li>
      <li>Support</li>
      <li>Privacy</li>
      <li>Policy</li>
      <li>Press Inquiry</li>
      <li>Terms & Conditions</li>
      <li>Warrenty</li>
    </ul>
    <div class="b-right">
      <h6>site by <img src="{{ 'amy.svg' | asset_url }}" alt=""></h6>
    </div>
  </div>
</div>
