<div class="index-swiper">
  <div class="swiper-container" data-index-swiper>
    <div class="swiper-wrapper">
      <div class="swiper-slide index-slide" id="slide1">
        <div class="index-slide__content">
          <h1 class="font-din">
            Desk Collections
          </h1>
          <p class="font-din">
            Our mission is to solve ergonomic problems in a design inspired way.
          </p>
          <a href="/collections/all">
            <button type="button" class="shop-button font-din">Shop All</button>
          </a>
        </div>
      </div>
      <div class="swiper-slide index-slide" id="slide2">
        <div class="index-slide__content">
          <h1 class="font-din">
            Elevate Your Screen
          </h1>
          <p class="swiper-p font-din">
            We created the monitor stand to bring a touch more class and style to your desk,<br>while also solving the underlying ergonomics issue.
          </p>
          <a href="/collections/stands-dock">
            <button type="button" class="shop-button font-din">Shop Stands & Dock</button>
          </a>
        </div>
      </div>
      <div class="swiper-slide index-slide" id="slide3">
        <div class="index-slide__content">
          <h1 class="swiper-p font-din">
            Tranform Your Workplace
          </h1>
          <p class="swiper-p font-din">
            People choose to surround themselves with beautiful and meaningful objects.<br>This is why we always focus on the sculptural aspect of our products.</p>
          </p>
          <a href="/collections/desk-accessories">
            <button type="button" class="shop-button font-din">Shop Desk Accessories</button>
          </a>
        </div>
      </div>
      <div class="swiper-slide index-slide" id="slide4">
        <div class="index-slide__content">
          <h1 class="font-din">
            Acoustically Driven Design
          </h1>
          <p class="swiper-p font-din">“Everyone will be jealous, and honestly, that feeling of superiority is priceless.”<br>-TechCrunch</p>
          <a href="/collections/wood-speakers-amp">
            <button type="button" class="shop-button font-din">Shop Wood Speakers</button>
          </a>
        </div>
      </div>
      <div class="swiper-slide index-slide" id="slide5">
        <div class="index-slide__content">
          <h1 class="font-din">
            Natually Durable Material
          </h1>
          <p class="swiper-p font-din">
            Our mission is to solve ergonomic problems in a design inspired way.
          </p>
          <button type="button" class="shop-button font-din">Shop All</button>
        </div>
      </div>
    </div>
    <div class="swiper-pagination">
    </div>

  </div>
  <!-- <h1 class="text-on-slide font-din">Desk Collection</h1> -->
</div>



<div class="home-text container margin--large">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="font-din">
        Design Inspires What You Do
      </h1>
      <p style="max-width: 500px; margin-left: auto; margin-right: auto;" class="font-georgia">
        Grovemade is founded in the belief that products should be well-made and built to last.
        Across a growing number of categories, Grovemade stands for skill at scale,
        the preservation of craft, and the beauty of industry.
      </p>
    </div>
  </div>
</div>



<div class="container home-blocks margin">
  <div class="row">
    <div class=" col-xs-4 home-blocks__item">
      <div class="home-blocks__image home-blocks__design" style="background-image: url('{{ 'design.jpg' | asset_url }}');">
        <div class="home-blocks__image-hover" style="background-image: url('{{ 'design-hover.jpg' | asset_url }}');">
        </div>
      </div>
      <div class="home-blocks__text">
        <h3 class="font-din">
          Design
        </h3>

      </div>
    </div>
    <div class=" col-xs-4 home-blocks__item">
      <div class="home-blocks__image home-blocks__ergonomics" style="background-image: url('{{ 'ergonomics.jpg' | asset_url }}');">
        <div class="home-blocks__image-hover" style="background-image: url('{{ 'ergonomics-hover.jpg' | asset_url }}');">
        </div>
      </div>
      <div class="home-blocks__text">
        <h3 class="font-din">
          Ergonomics
        </h3>
      </div>
    </div>
    <div class="col-xs-4 home-blocks__item">
      <div class="home-blocks__image home-blocks__function" style="background-image: url('{{ 'function.jpg' | asset_url }}');">
        <div class="home-blocks__image-hover" style="background-image: url('{{ 'function-hover.jpg' | asset_url }}');">
        </div>
      </div>
      <div class="home-blocks__text">
        <h3 class="font-din">
          Function
        </h3>
      </div>
    </div>
  </div>
</div>


<div class="home-text container margin--large featured-collections">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="font-din">
        Featured collections
      </h1>
    </div>
  </div>
</div>



<div class="container home-featured margin center">
  <div class="row">
    <div class="col-xs-12">
      <!-- <h3>
        Featured Products
      </h3> -->
    </div>
    <div class="col-xs-6">
      <div class="home-featured__image" style="background-image: url('{{ 'feature-stand.jpg' | asset_url }}')">
      </div>
      <a href="/collections/desk-accessories">
        <button type="button" class="shop-button font-din">Shop Stands & Dock</button>
      </a>

    </div>
    <div class="col-xs-6">
      <div class="home-featured__image second-feature" style="background-image: url('{{ 'feature-speaker.jpg' | asset_url }}')">
      </div>
      <a href="/collections/wood-speakers-amp"><button type="button" class="shop-button font-din">Shop Speakers & Amp</button></a>
    </div>
  </div>
</div>
