<div class="banner about-banner" style="background-image: url('{{ 'about-banner.jpg' | asset_url }}'); padding-bottom: 40%; background-position: bottom">
  <h1 class-"font-din">
    <span class="font-georgia">About</span> Desk Collection
  </h1>
</div>
<div class="container about-container font-din">
  <div class="row intro">
    <p>Though Grovemade began in 2009 as a maker of bamboo cases for the iPhone, the intention to be more than a “case company” was always a part of its foundation, and a shared aspiration of founders Ken Tomita and Joe Mansfield. At the time, establishing the new company meant putting that desire on hold while simply keeping up with orders and figuring out how best to operate as both a manufacturer and an e-commerce business. </p>
    <div class="about-image-container">
      <div class="about-image col-xs-6">
        <div class="phoneimg-container" style="background-image: url('{{ 'caseproduction.jpg' | asset_url }}')">
        </div>
      </div>
      <div class="about-image col-xs-6">
        <div class="phoneimg-container" style="background-image: url('{{ 'phonecases.jpg' | asset_url }}')">
        </div>
      </div>
    </div>
    <p style="clear: left;">Within a couple of years, things had leveled out and the business was humming along. The opportunity to expand into new horizons had arrived, but which direction to head in was as yet unknown.</p>
  </div>
  <div class="row inspiration">
    <h1>
      Inspiration
    </h1>
    <p>
      The spark came in 2013, when Ken and Joe made a trip to San Francisco and toured the newly finished headquarters of lodging-service giant Airbnb. They were there to visit co-founder Joe Gebbia, a friend of Ken's from his time at the Rhode Island School of Design (RISD).
    </p>
    <br>
    <p>
      The Airbnb office spans 72,000 square feet, with no expense of money or imagination spared. From the cylindrical, Kubrick-inspired “War Room,” to the meeting rooms recreated from Airbnb’s most popular listings, the building is a revelation of design. Still, Ken and Joe noticed one obvious oversight: many of the immaculate desktops had monitors propped up with an array of shoe boxes and books. They may have improved the posture of the employees, but they were also as precarious as they were unsightly. As Ken recalls, “It was kind of funny how a company founded by design-centric RISD grads had resigned themselves to cardboard.”
    </p>
    <div class="about-full-width-image col-xs-12">
      <img src="{{ 'phonebook.png' | asset_url }}" alt="">
    </div>
    <p>
      The seed had been planted for a monitor stand that would appeal to the design community. On returning to Portland, Ken and Joe began developing the concept.
    </p>
  </div>
  <div class="row stand">
    <h1>The Monitor Stand</h1>
    <p>While the final design of the Grovemade Monitor Stand has a very simple appearance, achieving its form took a tremendous number of iterations. Ken began by sketching out the form by hand and constructing physical prototypes from laminated veneer. Each model completed was passed on to Joe and Grovemade product designer Sean Kelly, who analyzed the strength and weakness of every minute detail, made design suggestions for the next iteration, and sent Ken back to the wood shop. After countless rounds, the stand began to take shape. What began as a fairly rigid and severe form slowly evolved into the softly contoured silhouette we offer today.</p>
    <div class="about-full-width-image col-xs-12">
      <img src="{{ 'stand.jpg' | asset_url }}" alt="">
    </div>
    <a href="/collections/stands-dock">
      <button type="button" class="shop-button about-button font-din">Shop Stands & Dock</button>
    </a>
    <p>
      With the stand finalized, samples were passed around the Grovemade office for testing. The product worked and looked great, but an unexpected problem popped up: other desk elements suddenly seemed out of place. Neoprene mouse pads and plastic pen cups just didn't cut it next to sculpted wood. Upgrading one aspect of the desk wouldn't be enough. The whole landscape would need to change.
    </p>
  </div>
  <div class="row to-collection">
    <h1>From Product to Collection</h1>
    <p>Conceiving the collection proved to be a new kind of challenge, marking the first time the team had attempted to design multiple products concurrently. The thread of continuity and visual balance between each piece were entirely new considerations.
    </p>
    <br>
    <p>
      Preliminary brainstorming sessions led to concepts for a keyboard tray, a padded wrist rest, and a mousepad. With creative momentum on their side, the team was tasked to come up with additional pieces to flesh out the ideal desktop.
    </p>
    <div class="about-full-width-image col-xs-12">
      <img src="{{ 'sketch.jpg' | asset_url }}" alt="">
      <caption>In order to fully embrace the collective process - as well as to ward off creative burnout and tunnel vision - Ken appealed to friend and fellow product-designer Stefan Andren, for his help and unique perspective. They had sketch battles, batting ideas back and forth on paper. This collaborative drafting method informed the shapes and profiles the new products would eventually take.</caption>
    </div>
    <p>
      Adding to the complexity was deciding which ideas to run with while also knowing when to pull the plug on a dud. To keep track of the winners and the losers, detailed charts were drafted, with pertinent questions written out and tacked to the design studio walls. Is the product functional? Will it improve the user’s experience? Can we actually make it? After weeks of design rounds, the final additions were agreed upon: a pen cup, two diminutively sized planters, a miniature dish, and a desk lamp, all with a unified shape and circumference.
    </p>
    <div class="about-full-width-image col-xs-12">
      <img src="{{ 'accessories.png' | asset_url }}" alt="">
    </div>
    <a href="/collections/desk-accessories">
      <button type="button" class="shop-button about-button font-din">Shop Desk Accessories</button>
    </a>
  </div>
  <div class="row implementation">
    <h1>Implementation</h1>
    <p>
      With a consensus of vision, it was time to bring the products into the real world. A small shipment of lumber and leather was ordered; programs were written for the mills. During these first fabrications, the planters, pen cups, and lamps came to be lined with polished aluminum.
    </p>
    <div class="about-image-container">
      <div class="about-image col-xs-6">
        <div class="phoneimg-container" style="background-image: url('{{ 'acc1.jpg' | asset_url }}')">
        </div>
      </div>
      <div class="about-image col-xs-6">
        <div class="phoneimg-container" style="background-image: url('{{ 'acc2.jpg' | asset_url }}')">
        </div>
      </div>
    </div>
    <p>
      Designed as a minimally intrusive accompaniment to the keyboard, the keyboard tray was cut to be as thin as possible while retaining a similarly ergonomic shape. Taking advantage of the hollow space created by the Apple Keyboard's unique shape, it came to serve as the lid for a hidden compartment, with carved slots for pens and spare batteries below.
    </p>
    <div class="about-full-width-image col-xs-12">
      <img src="{{ 'keyboard.jpg' | asset_url }}" alt="">
    </div>
    <p>
      The final sticking point was the mouse pad. A handsome cut of premium leather, lined with cork and a wooden pen rest, it was almost there, but Ken wasn’t sold on the composition. After knocking out version after version, he consulted with Sean who took one look at the umpteenth prototype, and suggested simply rotating it 90°.
    </p>
    <div class="about-full-width-image col-xs-12">
      <img src="{{ 'mousepad.png' | asset_url }}" alt="">
    </div>
    <p>
      Sometimes, all it takes is a fresh pair of eyes to point out something that seems so perfectly obvious in hindsight. That simple rotation was the final design decision for the entire collection. The green light was given, and the collection launched in April of 2014.
    </p>
  </div>
  <div class="row outro">
    <div class="about-full-width-image  col-xs-12">
      <img src="{{ 'aboutdc.jpg' | asset_url }}" alt="">
    </div>
    <a href="/collections/all">
      <button type="button" class="shop-button about-button font-din">Shop All</button>
    </a>
    <p>
      Over a year after the desk collection was unveiled, it's become a beloved presence in our daily lives. As always, the goal is to design something that matters, continuously improving along the way. Thank you for joining us as we branch away from the iPhone.
    </p>
  </div>
</div>
